In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [9]:
test_d= pd.read_csv("/kaggle/input/loan-prediction-problem-dataset/test_Y3wMUE5_7gLdaTN.csv")
train_d= pd.read_csv("/kaggle/input/loan-prediction-problem-dataset/train_u6lujuX_CVtuZ9i.csv")

**Preprocessing Data; Handling Nulls & Encoding Categories:**

In [11]:
import warnings
warnings.filterwarnings("ignore")
test_d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [12]:
train_d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [13]:
test_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [14]:
train_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [15]:
train_d.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [16]:
test_d.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [17]:
train_d.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
test_d.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [19]:
train_d["Gender"].fillna(train_d["Gender"].mode()[0],inplace=True)

In [20]:
test_d["Gender"].fillna(test_d["Gender"].mode()[0], inplace= True)

In [21]:
train_d["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [22]:
train_d["Dependents"].fillna(train_d["Dependents"].mode()[0],inplace=True)

In [23]:
test_d["Dependents"].fillna(test_d["Dependents"].mode()[0],inplace=True)

In [24]:
train_d["Married"].isna().sum()

3

In [25]:
train_d["Married"].unique()

array(['No', 'Yes', nan], dtype=object)

In [26]:
train_d["Married"].fillna(train_d["Married"].mode()[0],inplace=True)

In [27]:
train_d["Married"].isna().sum()

0

In [28]:
test_d["Married"].fillna(test_d["Married"].mode()[0],inplace=True)

In [29]:
test_d["Married"].isna().sum()

0

In [30]:
train_d.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [31]:
train_d["Self_Employed"].fillna(train_d["Self_Employed"].mode()[0],inplace=True)

In [32]:
test_d["Self_Employed"].fillna(test_d["Self_Employed"].mode()[0],inplace=True)

In [33]:
test_d["Self_Employed"].isnull().sum()

0

In [34]:
train_d["LoanAmount"].unique()

array([ nan, 128.,  66., 120., 141., 267.,  95., 158., 168., 349.,  70.,
       109., 200., 114.,  17., 125., 100.,  76., 133., 115., 104., 315.,
       116., 112., 151., 191., 122., 110.,  35., 201.,  74., 106., 320.,
       144., 184.,  80.,  47.,  75., 134.,  96.,  88.,  44., 286.,  97.,
       135., 180.,  99., 165., 258., 126., 312., 136., 172.,  81., 187.,
       113., 176., 130., 111., 167., 265.,  50., 210., 175., 131., 188.,
        25., 137., 160., 225., 216.,  94., 139., 152., 118., 185., 154.,
        85., 259., 194.,  93., 370., 182., 650., 102., 290.,  84., 242.,
       129.,  30., 244., 600., 255.,  98., 275., 121.,  63., 700.,  87.,
       101., 495.,  67.,  73., 260., 108.,  58.,  48., 164., 170.,  83.,
        90., 166., 124.,  55.,  59., 127., 214., 240.,  72.,  60., 138.,
        42., 280., 140., 155., 123., 279., 192., 304., 330., 150., 207.,
       436.,  78.,  54.,  89., 143., 105., 132., 480.,  56., 159., 300.,
       376., 117.,  71., 490., 173.,  46., 228., 308., 236., 570., 380.,
       296., 156., 103.,  45.,  65.,  53., 360.,  62., 218., 178., 239.,
       405., 148., 190., 149., 153., 162., 230.,  86., 234., 246., 500.,
       186., 119., 107., 209., 208., 243.,  40., 250., 311., 400., 161.,
       196., 324., 157., 145., 181.,  26., 211.,   9., 205.,  36.,  61.,
       146., 292., 142., 350., 496., 253.])

In [35]:
train_d['LoanAmount'].fillna(train_d['LoanAmount'].median(), inplace=True)

In [36]:
test_d['LoanAmount'].fillna(test_d['LoanAmount'].median(), inplace=True)

In [37]:
train_d.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [38]:
train_d["Loan_Amount_Term"].value_counts()

Loan_Amount_Term
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [39]:
train_d['Loan_Amount_Term'].fillna(train_d['Loan_Amount_Term'].mode()[0], inplace=True)

In [40]:
test_d['Loan_Amount_Term'].fillna(test_d['Loan_Amount_Term'].mode()[0], inplace=True)

In [41]:
test_d.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [42]:
train_d["Credit_History"].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [43]:
train_d['Credit_History'].fillna(train_d['Credit_History'].mode()[0], inplace=True)

In [44]:
test_d['Credit_History'].fillna(test_d['Credit_History'].mode()[0], inplace=True)

In [45]:
train_d.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [46]:
train_d.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [47]:
from sklearn.preprocessing import LabelEncoder

# Columns to encode
cat_cols = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']

# Encoder object
le = LabelEncoder()

# Apply on each column
for col in cat_cols:
    train_d[col] = le.fit_transform(train_d[col])

In [48]:
train_d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [49]:
train_d.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [50]:
test_d.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,No,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [51]:
from sklearn.preprocessing import LabelEncoder

# Columns to encode
cat_cols = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

# Encoder object
le = LabelEncoder()

# Apply on each column
for col in cat_cols:
    train_d[col] = le.fit_transform(train_d[col])

In [52]:
for col in cat_cols:
    test_d[col] = le.fit_transform(test_d[col])

In [53]:
test_d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,LP001035,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.0,2

In [54]:
print(train_d.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [55]:
X= train_d.drop(columns=["Loan_ID","Loan_Status"])
y= train_d["Loan_Status"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

**Train and Test Classification Models with using GridSearchCV for tuning:**

In [56]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report

In [57]:
param_grid = {
    'C': [0.01, 0.1, 1, 10],
    'penalty': ['l2'],
    'solver': ['liblinear', 'lbfgs']
}

#  Model initialize
log_reg = LogisticRegression(max_iter=1000)

#  GridSearchCV
grid_log = GridSearchCV(estimator=log_reg, param_grid=param_grid, cv=5,
                    scoring='accuracy', n_jobs=-1)

#  Model training
grid_log.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(max_iter=1000), n_jobs=-1,
             param_grid={'C': [0.01, 0.1, 1, 10], 'penalty': ['l2'],
                         'solver': ['liblinear', 'lbfgs']},
             scoring='accuracy')

In [58]:
best_log = grid_log.best_estimator_
y_pred_log = best_log.predict(X_test)

In [59]:
results = []
best_models = {}
print("Logistic Regression Best Params:", grid_log.best_params_)
print("Logistic Regression CV Score:", grid_log.best_score_)
print("Test Accuracy:", accuracy_score(y_test, y_pred_log))
print("\nClassification Report:\n", classification_report(y_test, y_pred_log))

results.append({
    'Model': 'Logistic Regression',
    'Best Params': grid_log.best_params_,
    'CV Score': grid_log.best_score_,
    'Test Accuracy': accuracy_score(y_test, y_pred_log)
})
best_models['Logistic Regression'] = best_log

Logistic Regression Best Params: {'C': 1, 'penalty': 'l2', 'solver': 'liblinear'}
Logistic Regression CV Score: 0.7963306534735106
Test Accuracy: 0.8617886178861789

Classification Report:
               precision    recall  f1-score   support

           0       0.96      0.58      0.72        38
           1       0.84      0.99      0.91        85

    accuracy                           0.86       123
   macro avg       0.90      0.78      0.81       123
weighted avg       0.88      0.86      0.85       123

In [60]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

param_grid_dt = {
    'max_depth': [None, 5, 10, 20],
    'min_samples_split': [2, 5, 10]
}

dt_model = DecisionTreeClassifier(random_state=42)
grid_dt = GridSearchCV(estimator=dt_model, param_grid=param_grid_dt,
                       cv=5, scoring='accuracy', n_jobs=-1)

grid_dt.fit(X_train, y_train)

best_dt = grid_dt.best_estimator_
y_pred_dt = best_dt.predict(X_test)

print("\n Decision Tree")
print("Best Params:", grid_dt.best_params_)
print("CV Score:", grid_dt.best_score_)
print("Test Accuracy:", accuracy_score(y_test, y_pred_dt))
print("\nClassification Report:\n", classification_report(y_test, y_pred_dt))

results.append({
    'Model': 'Decision Tree',
    'Best Params': grid_dt.best_params_,
    'CV Score': grid_dt.best_score_,
    'Test Accuracy': accuracy_score(y_test, y_pred_dt)
})
best_models['Decision Tree'] = best_dt

 Decision Tree
Best Params: {'max_depth': 5, 'min_samples_split': 10}
CV Score: 0.7677798392084105
Test Accuracy: 0.8292682926829268

Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.58      0.68        38
           1       0.83      0.94      0.88        85

    accuracy                           0.83       123
   macro avg       0.82      0.76      0.78       123
weighted avg       0.83      0.83      0.82       123

In [61]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

param_grid_rf = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}

rf_model = RandomForestClassifier(random_state=42)
grid_rf = GridSearchCV(estimator=rf_model, param_grid=param_grid_rf,
                       cv=5, scoring='accuracy', n_jobs=-1)

grid_rf.fit(X_train, y_train)

best_rf = grid_rf.best_estimator_
y_pred_rf = best_rf.predict(X_test)

print("\n Random Forest")
print("Best Params:", grid_rf.best_params_)
print("CV Score:", grid_rf.best_score_)
print("Test Accuracy:", accuracy_score(y_test, y_pred_rf))
print("\nClassification Report:\n", classification_report(y_test, y_pred_rf))

results.append({
    'Model': 'Random Forest',
    'Best Params': grid_rf.best_params_,
    'CV Score': grid_rf.best_score_,
    'Test Accuracy': accuracy_score(y_test, y_pred_rf)
})
best_models['Random Forest'] = best_rf

 Random Forest
Best Params: {'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 50}
CV Score: 0.8004122861265719
Test Accuracy: 0.8536585365853658

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.55      0.70        38
           1       0.83      0.99      0.90        85

    accuracy                           0.85       123
   macro avg       0.89      0.77      0.80       123
weighted avg       0.87      0.85      0.84       123

In [62]:
# Support Vector Machine
from sklearn.svm import SVC

param_grid_svm = {
    'C': [0.1, 1, 10],
    'kernel': ['linear', 'rbf'],
    'gamma': ['scale', 'auto']
}

svm_model = SVC(random_state=42)
grid_svm = GridSearchCV(estimator=svm_model, param_grid=param_grid_svm,
                        cv=5, scoring='accuracy', n_jobs=-1)

grid_svm.fit(X_train, y_train)

best_svm = grid_svm.best_estimator_
y_pred_svm = best_svm.predict(X_test)

print("\n SVM")
print("Best Params:", grid_svm.best_params_)
print("CV Score:", grid_svm.best_score_)
print("Test Accuracy:", accuracy_score(y_test, y_pred_svm))
print("\nClassification Report:\n", classification_report(y_test, y_pred_svm))

results.append({
    'Model': 'SVM',
    'Best Params': grid_svm.best_params_,
    'CV Score': grid_svm.best_score_,
    'Test Accuracy': accuracy_score(y_test, y_pred_svm)
})
best_models['SVM'] = best_svm

 SVM
Best Params: {'C': 10, 'gamma': 'scale', 'kernel': 'linear'}
CV Score: 0.7922490208204493
Test Accuracy: 0.8455284552845529

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.53      0.68        38
           1       0.82      0.99      0.90        85

    accuracy                           0.85       123
   macro avg       0.89      0.76      0.79       123
weighted avg       0.86      0.85      0.83       123

In [63]:
# K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier

param_grid_knn = {
    'n_neighbors': [3, 5, 7, 9],
    'weights': ['uniform', 'distance']
}

knn_model = KNeighborsClassifier()
grid_knn = GridSearchCV(estimator=knn_model, param_grid=param_grid_knn,
                        cv=5, scoring='accuracy', n_jobs=-1)

grid_knn.fit(X_train, y_train)

best_knn = grid_knn.best_estimator_
y_pred_knn = best_knn.predict(X_test)

print("\n KNN")
print("Best Params:", grid_knn.best_params_)
print("CV Score:", grid_knn.best_score_)
print("Test Accuracy:", accuracy_score(y_test, y_pred_knn))
print("\nClassification Report:\n", classification_report(y_test, y_pred_knn))

results.append({
    'Model': 'KNN',
    'Best Params': grid_knn.best_params_,
    'CV Score': grid_knn.best_score_,
    'Test Accuracy': accuracy_score(y_test, y_pred_knn)
})
best_models['KNN'] = best_knn

 KNN
Best Params: {'n_neighbors': 9, 'weights': 'uniform'}
CV Score: 0.6292929292929293
Test Accuracy: 0.6504065040650406

Classification Report:
               precision    recall  f1-score   support

           0       0.38      0.21      0.27        38
           1       0.71      0.85      0.77        85

    accuracy                           0.65       123
   macro avg       0.54      0.53      0.52       123
weighted avg       0.61      0.65      0.62       123

**Comparing multiple models using a leaderboard:**

In [64]:
# Leaderboard
results_df = pd.DataFrame(results)
results_df = results_df.sort_values(by="Test Accuracy", ascending=False)
print("\n Leaderboard:")
print(results_df)

 Leaderboard:
                 Model                                        Best Params  \
0  Logistic Regression   {'C': 1, 'penalty': 'l2', 'solver': 'liblinear'}
2        Random Forest  {'max_depth': 5, 'min_samples_split': 5, 'n_es...
3                  SVM    {'C': 10, 'gamma': 'scale', 'kernel': 'linear'}
1        Decision Tree          {'max_depth': 5, 'min_samples_split': 10}
4                  KNN           {'n_neighbors': 9, 'weights': 'uniform'}

   CV Score  Test Accuracy
0  0.796331       0.861789
2  0.800412       0.853659
3  0.792249       0.845528
1  0.767780       0.829268
4  0.629293       0.650407

**Saving best model with joblib or pickle:**

In [65]:
# Save best model
import joblib
best_model_name = results_df.iloc[0]['Model']
joblib.dump(best_models[best_model_name], f"{best_model_name}_best.pkl")
print(f"\n✅ Best model '{best_model_name}' saved as {best_model_name}_best.pkl")

✅ Best model 'Logistic Regression' saved as Logistic Regression_best.pkl

In [66]:
import os
os.listdir('/kaggle/working')

['.virtual_documents', 'Logistic Regression_best.pkl']

In [67]:
from IPython.display import FileLink
FileLink('Logistic Regression_best.pkl')

/kaggle/working/Logistic Regression_best.pkl